/* 1439-769 */
@media (max-width: 1181px) {
/* <!-- header --> */
.header_class {
    padding: 16px 36px;
    
}
.header_nav {
    position: fixed;
    top: 100px;
    left: -100%;
    background: rgba(196, 106, 43, 1);
    width: 200px;
    height: 144px;
    padding: 16px;
    row-gap: 8px;
    transition: 0.2s linear;
}
.show_nav {
    left: 0;
}
.header_class_ul {
    flex-direction: column;
}
     

    
.burger_image {
    display: inline-block;
}


/* section 2 */
.main_section_2 {
    padding-left: 32px;
    padding-right: 0px;

}
.card_section {
    overflow-x: scroll;
}
.card_section_article {
    flex: 1 0 272px;
}


/* footer */
.footer_class{
padding-inline: 242px;
}


/* about_page */
/* card_section */

.about_sectio_main {
    padding: 96px 32px;
}
.card_section_2_aricle
{
    width: min(100%, 548px);
    flex: 1 1 33%;
}
.none_1180 {
    display: none;
}

}