@media (max-width: 321px) {
    /* <!-- header --> */
    .header_class {
        padding: 28px 8px; 
    }

     /* section_1 */
.section_1 {
    height: 320px;}

/* about_page */
/* card_section */
.about_sectio_main {
    padding: 32px 8px;
}
}
