/* conteiner */
.conteiner {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 100px;
}
/* header */
.header_class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 94px;
    background: #012426;
    border-bottom: 2px solid #05BCCA;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: inherit;
}
.header_class_ul {
    display: flex;
    column-gap: 72px;
}
.guitar_photo{
    transition: transform 0.3s ease;
}

.guitar_photo:hover {
    transform: scale(1.1);
    
}
.active {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #A1C3C9;
    transition: color 0.3s, text-shadow 0.3s;
}
.active:hover {
    color: #e76d09; 
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.header_button_class {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.header_button {
    border: none;
    border: 2px solid #05BCCA;
    width: 40px;
    height: 40px;
    background-color: #012426;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}
.middle_button {
   background-color:#05BCCA;
}
.header_button:hover {
    background-color: #df840d; 
    transform: scale(1.1); 
    cursor: pointer;
}
.burger_image {
    display: none;
}
.xmark {
    display: none;
}
/* section_1 */
.section_1 {
    height: 560px;
    background-image: url(../images/Rectangle\ 12.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    
}
.section1_section {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    padding-top: 72px;
    
}
.section_1_title {
    font-family: Inter;
font-size: 32px;
font-weight: 400;
line-height: 36px;
color: aliceblue;


}
.section_1_title2 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #05BCCA;
}
.section_1_button {
    width: 36px;
    height: 24px;
    border-radius: 4px;
    background: #C46A2B;
    border: none;
    transition: 1s;
}
.section_1_button:hover {
    background-color: green;
}


/* section_2 */
.main_section_2 {
    background: #1A1A1A;
    padding: 96px 94px;

}

.section_2_title {
    font-family: Inter;
font-size: 36px;
font-weight: 700;
line-height: 52px;
color: #05BCCA;
display: flex;
justify-content: center;
text-decoration: underline;
text-underline-offset: 10px;
padding-bottom: 64px;
}
/* card_section */
.card_section {
    display: flex;
    column-gap: 20px;
}
.card_section_photo{
    width: 100%;
    height: 221px;
    object-fit: cover;
}
.card_section_article {
   background-color:rgba(44, 66, 70, 1) ;
   border: 1px solid rgba(5, 188, 202, 1);
   padding: 8px 8px 16px 8px;
   width: 298px;
   cursor: pointer;
   transition-property: all;
   transition-duration: 0.5s;
  
   
}
.card_section_article:hover {
    width: 350px;
    box-shadow: 0px 0px 8px 4px rgba(5, 188, 202, 0.8);
}
.card_section_title {
    font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 27px;
color: rgba(217, 217, 217, 1);
margin-block: 16px;
}


.card_section_article_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_section_money {
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 27px;
color: rgba(5, 188, 202, 1);
}
.card_section_money:hover {
    color: green;
}

.card_section_button{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color:rgba(255, 255, 255, 1);
    background-color: rgba(196, 106, 43, 1);
    width: 58px;
    height: 28px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.card_section_button:hover {
    background-color: #014463;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
/* footer */
.footer_class {
    padding: 48px;
    background: rgba(44, 66, 70, 1);
    display: flex;
    justify-content: center;
    column-gap: 157px;
    
}

.footer_class_title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(217, 217, 217, 1);
    margin-bottom: 24px;
    border-bottom: 2px rgba(217, 217, 217, 1) solid;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}
.footer_class_title:hover {
    color: #007BFF;
    transform: scale(1.50);
    border-color: #007BFF;
}
.footer_nav_ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.footer_active{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(217, 217, 217, 1);
    transition-property: all;
    transition-duration: 1s;
}
.footer_active:hover {
    text-decoration: underline;
    color: #e76d09;
   
}
.icon_section {
    display: flex;
    column-gap: 16px;
    margin-top: 8px;
}
.icon_hover:hover {
    transform: scale(1.1);
}

/* about_page section 1*/
 
.about_sectio_main {
    background: rgba(1, 36, 38, 1);
    padding: 94px 96px;
}
.section_1_section {
    display: flex;
    justify-content: space-between;
}
.about_sectio_filter {
    display: flex;
    align-items: center;
    column-gap: 16px;
   
}
.Filter {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color:  rgba(217, 217, 217, 1);
}
.about_sectio_sort {
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.sort {
    font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 32px;
color: rgba(217, 217, 217, 1);
}
.about_sectio_button {
    background: rgba(161, 195, 201, 1);
    width: 160px;
    height: 32px;
    border-radius: 4px;
    border: none;
}
.Best_selling {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(44, 66, 70, 1);
    vertical-align: middle;
}
.down_arrow {
    vertical-align: middle;
    padding-left: 33px;
}
/* card_section */

.card_section_2{
    display: flex;
    gap: 40px 20px;
    flex-wrap: wrap;
    margin-block: 64px ;
}
.card_section_2_aricle {
    width: min(100%, 404px);
    flex: 1 1 32%;
    background: rgba(44, 66, 70, 1); 

}
.card_photo {
    object-fit: cover;
    width: 100%;
}
.card_title {
    font-family: Inter;
    font-size: 16px;
        font-weight: 700;
    line-height: 27px;
    color: rgba(217, 217, 217, 1) ;
    padding-top: 16px;
    padding-left: 8px;
}
.frame_class{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 8px;
}
.money_h4 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: rgba(5, 188, 202, 1);

}
.button_cart {
    background: rgba(196, 106, 43, 1);
    border: none;
    cursor:pointer;
    border-radius: 4px;
}
.button_cart_photo {
    width: 100%;
    height: 100%;
}


.page_section {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 48px;
}
.page_section_button {
    border: none;
    background: rgba(196, 106, 43, 1);
    width: 121px;
    height:40px;
    border-radius: 8px;
}
.page_section_arrow {
    vertical-align: middle;
}
.button_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(217, 217, 217, 1);
    vertical-align: middle;
}
.page_list {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}
.page_section_second_button {
    border: none;
    background: rgba(5, 188, 202, 1);
    width: 92px;
    height: 40px;
    border-radius: 8px;
}
