/* 768-481 */
@media (max-width: 744px) {
    /* <!-- header --> */
    .header_class {
        padding: 16px 24px; 
    }

    /* section_1 */
.section_1 {
    height: 480px;}

    .section1_section {
        padding-top: 32px;
    }

    /* section_2 */
.main_section_2 {
    padding: 48px 0px 60px 24px;

}
/* footer */
.footer_class {
    padding: 48px 24px;
    column-gap: 70px; 
}
/* about_page */
/* card_section */

.about_sectio_main {
    padding: 48px 24px;
}
.card_section_2_aricle
{
    width: min(100%, 696px);
    flex: 1 1 50%;
}
.none_744 {
    display: none;
}
/* contact page */
/* contact_page */
.contact_main_section {
    padding: 64px 24px;
    height: 857px;
    background-repeat: repeat;
} 
.contact_section_1 {
   display: flex;
   flex-direction: column;
    padding: 16px;
    row-gap: 46px;
    flex: 1 1 100%;
}
   

.form_section {
    row-gap: 24px;
}
.contact_page_icon_section {
    column-gap: 42px;
}
.contact_title {
    font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 39px;
text-align: center;
}
.map_iframe{
    width: 100%;
    height: 272px; 
}

.map_section {
    row-gap: 24px;
}

}


@media (max-width: 481px) {
/* header */
.header_class {
    padding: 28px 20px ;
}
.guitar_photo {
    width: 40px;
    height: 40px;
}
.header_button  {
    width: 32px;
    height: 32px;
}
.icon_image {
    width: 100%;
    height: 100%;
}

/* section_1 */


.section_1_title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px; 
}
.section_1_title2 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px; 
}
/* section_2 */
.section_2_title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.footer_class {
    display: flex;
    align-items: center;
    flex-direction: column;
     row-gap: 40px;
 text-align: center;
}

.icon_section {
    display: flex;
    justify-content: center;
}


/* about_page */
/* card_section */
.about_sectio_main {
    padding: 32px 20px;
}
.Filter{
    display: none;
}
.Best_selling {
    display: none;
}
.about_sectio_button{
    width: 36px;
    height: 32px;
}
.down_arrow {
    padding: 0;
}
.button_text {
    display: none;
}
.page_section_button, .page_section_second_button {
    width: 52px;
    height: 40px;
}
/* contact page */
/* contact_page */
.contact_main_section {
    padding: 64px 20px;
    height: 983px;

}
.contact_title {
    font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 39px;
text-align: center;
}
.contact_page_icon_section {
    column-gap: 42px;
}
.input_section{
    flex-direction: column;
    row-gap: 36px;

}

}